
FRONTEND_URL=http://localhost:5173
DATABASE_URL=postgresql://user:password@localhost:5432/itea_db
DIRECT_URL=postgresql://user:password@localhost:5432/itea_db
JWT_SECRET=your-secret-key-change-in-production
PORT=3000
NODE_ENV=development
RESEND_API_KEY=""
EMAIL_FROM=""